<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 公告 -->
    <bean id="top.cardone.cms.dao.NoticeDao"
          class="top.cardone.cms.dao.impl.NoticeDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/cms/notice/"/>
                        <entry key="pks" value="noticeId"/>
                        <entry key="codes" value="systemInfoCode,siteCode,title,endDate"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="noticeId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readCreatedByCodeFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                        <entry key="beginDate" value="readOneDateFunc"/>
                        <entry key="endDate" value="endDateDefaultValueFunc"/>
                        <entry key="systemInfoCode" value="systemInfoCodeDefaultValueFunc"/>
                        <entry key="siteCode" value="siteCodeDefaultValueFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                        <entry key="systemInfoCode" value="systemInfoCodeDefaultValueFunc"/>
                        <entry key="siteCode" value="siteCodeDefaultValueFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>
	
    <bean id="top.cardone.cms.service.NoticeService"
          class="top.cardone.cms.service.impl.NoticeServiceImpl">
		<property name="dao" ref="top.cardone.cms.dao.NoticeDao"/>
	</bean>
</beans>