<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:direct-exchange
            name="exchange:cardone-cms-${cardone-cms-version}:top.cardone.cms.service.ArticleService">
        <rabbit:bindings>
            <rabbit:binding
                    queue="queue:cardone-cms-${cardone-cms-version}:top.cardone.cms.service.ArticleService"
                    key="queue:cardone-cms-${cardone-cms-version}:top.cardone.cms.service.ArticleService"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue
            name="queue:cardone-cms-${cardone-cms-version}:top.cardone.cms.service.ArticleService"/>

    <bean id="top.cardone.cms.service.ArticleServiceExporter" parent="remoteInvocationExecutorParnet">
        <property name="serviceInterface" value="top.cardone.cms.service.ArticleService"/>
        <property name="service" ref="top.cardone.cms.service.ArticleService"/>
    </bean>

    <rabbit:listener-container concurrency="2">
        <rabbit:listener ref="top.cardone.cms.service.ArticleServiceExporter"
                         queue-names="queue:cardone-cms-${cardone-cms-version}:top.cardone.cms.service.ArticleService"/>
    </rabbit:listener-container>
</beans>